<!-- your html code here -->
<hr class="mt-5" style="width: 80%;">
<div class="container mb-5">
    <div class="row pt-5 align-items-center mt-5">
        <div class="col-8">
            <h2 style="font-size: 40px;">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
            <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, consectetur tempore. Quas dolorum veniam
                ad tempora, aspernatur asperiores porro velit sit quasi eius magnam, facere quo temporibus, quos nobis
                similique?</p>
        </div>
        <div class="col-4">
            <img class="rounded-circle img-fluid" src="./assets/img/1.jpg" alt="">
        </div>
    </div>
    <hr class="mt-5">
</div>