<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-4 text-center">
            <img src="./assets/img/2.jpg" class="img-fluid rounded-circle" alt="Responsive image">
          </div>
        <div class="col-8" id="secondHeadingText">
            <h2 style="font-size: 40px;">This Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h2>
            <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, consectetur tempore. Quas dolorum veniam
                ad tempora, aspernatur asperiores porro velit sit quasi eius magnam, facere quo temporibus, quos nobis
                similique?</p>
        </div>
      </div>
    </div>
    
  </header>
  <hr class="mb-5 pb-5" style="width: 80%;">
